<ion-header>
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
      <ion-header>
        <ion-toolbar>
          <ion-segment (ionChange)="segmentChanged($event)">
            <ion-segment-button value="camera">
              <ion-label>Camara</ion-label>
            </ion-segment-button>
            <ion-segment-button value="geolocation">
              <ion-label>Geolocalización</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-toolbar>
      </ion-header>
  </ion-toolbar>
</ion-header>

<ion-content>
</ion-content>
